<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <button
    pButton
    label="Cambiar nombre"
    (click)="mostrarNombre()"
    class="p-button-help"
    icon="pi pi-check"
    iconPos="right"
  ></button>
</div>

<p-card [header]="nombre" [style]="{ width: '25rem' }">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
  consequuntur error repudiandae numquam deserunt quisquam repellat libero
  asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
  neque quas!
</p-card> -->

<app-menu></app-menu>
<router-outlet></router-outlet>

